link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')

block content
    h1 Details for #{result.Name}

    table.table.tab-content
        tr
            th Name:
            td #{result.Name}
        tr
            th Symbol:
            td #{result.Symbol}
        tr
            th Last Price:
            td $#{result.LastPrice}

    form(method='POST', action="/buy/#{result.Symbol}")
        .form-group
            label Qty:
            input(type="text", name='symbolSearch', placeholder='Enter number of shares.')
            button(type="submit" class="btn btn-default") Buy

    form(method='POST', action="/sell/#{result.Symbol}")
        .form-group
            label Qty:
            input(type="text", name='symbolSearch', placeholder='Enter number of shares.')
            button(type="submit" class="btn btn-default") Sell
