link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')

//- meta(http-equiv="refresh" content="30;url=/update")
block content
    h1#header My Stock Portfolio
    p#header Stock prices update every 30 seconds
    a.lookup(href='/quote') Look Up A Stock
    div
      table.table.table-hover
        thead
          th Symbol
          th Company
          th Price
          th Qty

        if results
          - var total = 0
          each result, i in results
            tr
              td #{result.symbol}
              td #{result.name}
              td #{result.price}
              td #{result.shares}
              - total += result.price * result.shares
        table
          tr
            td
              label Total:
              span  $#{total}

